*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu_bg{
    position: absolute;
    z-index: 999;
    width: 100%;
   
}

.menu_bg ul li{
    padding: 0 10px;
    align-items: end;
}
.menu_bg ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000 !important;
     
}

.navbar-expand-lg .navbar-nav {
    
	flex-direction: row;
	margin-left: 235px;
}
.menu_bg .one{
    height: 50px;
    width: 150px;
    border:  2px solid solid #247FFB !important;
    border-radius: 20px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover{
    background-color: #247FFB;
}
.menu_bg .one a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #247FFB;
    line-height: 50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover a{
    color: #fff;
}

/* banner part start */
#banner{
    padding-top: 220px;
    padding-bottom: 120px;
    background-color: #fff;
    position: relative;
}
.banner_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #000;
    line-height: 60px;
}
.banner_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
    margin-top: 30px;
}
.banner_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    margin-top: 30px;
    width: 400px;
}
.banner_one{
    height: 50px;
    width: 200px;
    background-color: #D6A033;
    text-align: center;
    margin-top: 30px;
}
.banner_one a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px;
}
.banner_img img{
    width: 100%;
}
/* banner part end */
/* about part start */
#about{
    padding: 120px 0;
    background-color: #fff;
}
.about_img img{
    width: 100%;
}
.about_text{
    position: relative;
}
.about_text::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 2px;
    width: 80px;
    background-color: #37B865;
}
.about_text  h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #37B865;
    line-height: 28px;
}
.about_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000;
    line-height: 60px;
    margin-top: 20px;
}
.about_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    margin-top: 20px;
}
.about_text a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px;
    
}
.about_one{
    height: 50px;
    width: 180px;
    background-color: #247FFB;
    text-align: center;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}

/* about part end */
/* fun part start */
#fun{
    padding: 120px 0;
    background-color: #003173;
}
.fun_item{
    position: relative;
}
.fun_item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
.fun_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    text-align: center;
}
.fun_item::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    height:100px;
    width: 2px;
    background-color: #37B865;
}
/* fun part end */
/* we part start */
#we{
    padding: 120px 0;
    background-color: #fff;
}
.we_text{
    position: relative;
}
.we_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #37B865;
    line-height: 28px;
    text-align: center;
}
.we_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000;
    line-height: 60px;
    margin-top: 20px;
    text-align: center;
}
.we_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    margin-top: 20px;
    text-align: center;
}
.we_item{
    padding: 30px;
    text-align: center;
    margin-top: 50px;
}

.we_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #000;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}

.we_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    margin-top: 20px;
    text-align: center;
}
/* we part end */
/* mak part start */
#mak{
    padding: 120px 0;
    background-color: #fff;
}
.mak_text {
    position: relative;
}
.mak_text::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height:2px;
    width: 100px;
    background-color: #37B865;
}
.mak_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #37B865;
    line-height: 28px;
    margin-top: 50px;
}
.mak_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000;
    line-height: 60px;
    margin-top: 20px;
}
.mak_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    margin-top: 20px;
}
.mak_one{
    height: 50px;
    width: 180px;
    background-color: #247FFB;
    text-align: center;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    margin-top: 50px;
}
.mak_one a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 50px;
}
/* mak part end */
/* keep part start */
#keep{
    padding: 120px 0;
    background-color: #003173;
}
.keep_text{
    position: relative;
}
.keep_text::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height:2px;
    width: 150px;
    background-color: #37B865;
}
.keep_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #37B865;
    line-height: 28px;
    margin-top: 50px;
}
.keep_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 60px;
    margin-top: 20px;
}
.keep_text01 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 150px;
}
.keep_img img{
    width: 100%;
    margin-top: 50px;
}
/* keep part end */
/* many part start */
#many{
    padding: 120px 0;
    background-color: #fff;
}
.many_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #37B865;
    line-height: 28px;
    text-align: center;
}
.many_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000;
    line-height: 60px;
    text-align: center;
}
.many_item img{
    width: 100%;
    margin-top: 50px;
}
.many_item h5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #37B865;
    line-height: 28px;
    margin-top: 30px;
    margin-left: 20px;
}
.many_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    line-height: 40px;
    
    margin-left: 20px;
}
.many_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 28px;
    
    margin-left: 20px;
}
/* many part end */
/* footer part start */
#footer{
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #0B3A77;
}

.footer_logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 50px;
}
.footer_icon i{
    
    height: 25px;
    width: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer_menu h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
   
}
.footer_menu ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: #fff;
    margin-left: -30px;
}
.footer_menu01 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    
}
.footer_menu01 ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: #fff;
    margin-left: -30px;
}
.footer_menu02 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    
}
.footer_menu03 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    
}
.footer_menu03 p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    
   
    color: #fff;
}


.footer_menu02 ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: #fff;
    margin-left: -30px;
}
.footer_one h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 30px;
}
.footer_two {
    display: flex;
    justify-content: space-between;
}
.footer_two h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 30px;
}
.footer_two p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 30px;
}
/* footer part end */