*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu_bg{
    position: absolute;
    z-index: 999;
    width: 100%;
   
}

.menu_bg ul li{
    padding: 0 10px;
    align-items: end;
}
.menu_bg ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000 !important;
     
}

.navbar-expand-lg .navbar-nav {
    
	flex-direction: row;
	margin-left: 235px;
}
.menu_bg .one{
    height: 50px;
    width: 150px;
    border:  2px solid solid #8454F5 !important;
    border-radius: 20px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover{
    background-color: #8454F5;
}
.menu_bg .one a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8454F5;
    line-height: 50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover a{
    color: #fff;
}
/* banner part start */

#banner{
    padding-top: 220px;
    padding-bottom: 120px;
    background-color: #fff;
}
.banner_img img{
    width: 100%;
}
.banner_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #1D354F;
    line-height: 60px;
}
.banner_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    margin-top: 20px;
}
.banner_one{
    height: 50px ;
    width: 150px;
    background-color: #8454F5;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.banner_one a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 50px;
}
/* banner part end */
/* offer part start */
#offer{
    padding: 120px 0;
    background-color: #fff;
}
.offer_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #1D354F;
    line-height: 60px;
    text-align: center;
}
.offer_item{
    padding: 30px;
    background-color: #FDFDFD;
    margin-top: 50px;
}
.offer_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #1D354F;
    line-height: 40px;
    margin-top: 20px;
}
.offer_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    
}
.offer_item a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    
}
/* offer part end */
/* app part start */
#app{
    padding: 120px 0;
    background-color: #fff;
}
.app_img img{
    width: 100%;
}
.app_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #1D354F;
    line-height: 60px;
    margin-top: 30px;
}
.app_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    margin-top: 20px;
}
.app_item{
    padding: 30px 0;
    background-color: #FDFDFD;
   
}
.app_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #1D354F;
    line-height: 40px;
    margin-top: 20px;
}
.app_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    
}
.app_item a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
}
.app_text01 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #1D354F;
    line-height: 60px;
    margin-top: 100px;
}
.app_text01 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    margin-top: 20px;
}
.app_img01 img{
    width: 100%;
    margin-top: 100px;
}
/* app part enf */
/* show part start */
#show{
    padding: 120px 0;
    background-color: #fff;
}
.show_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #1D354F;
    line-height: 60px;
    text-align: center;
}
.show_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    text-align: center;
}
.show_img img{
    width: 100%;
    margin-top: 50px;
}

/* show part end */
/* top part start */
#top{
    padding: 120px 0;
    background-color: #fff;
}
.top_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #1D354F;
    line-height: 60px;
}
.top_item {
    height: 50px;
    width: 150px;
    background-color: #8454F5;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.top_item a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px;
}
.top_img img{
    margin-top: 50px;
}
/* top part end */

/* plan part start */
#plan{
    padding: 120px 0;
    background-color: #EDF3F7;
 }
 .plan_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #29313D;
    text-align: center;
 }
 .plan_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 40px;
    color: #29313D;
    text-align: center;
 }
 .plan_item{
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
    margin-top: 50px;
 }
 .plan_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    color: #29313D;
    margin-left: 20px;
    text-align: center;
 }
 .plan_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #29313D;
    margin-left: 20px;
 }
 .plan_item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
    color: #29313D;
    margin-left: 20px;
 }
 .plan_item a{
    display: inline-block;
   margin-left: 20px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #29313D;
 }
 .plan_one{
    height: 50px;
    width: 150px;
    background-color: #8454F5;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.plan_one h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
}


/* plan part end */
/*  post part start  */
#post{
    padding: 120px 0;
    background-color: #fff;
}
.post_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #1D354F;
    line-height: 60px;
}
.post_item{
    display: flex;
    justify-content: space-between;
}
.post_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #1D354F;
    line-height: 60px;
}
.post_item i{
    font-size: 28px;
    line-height: 60px;
    color: #8454F5;
}
.post_img img{
    width: 100%;
    margin-top: 50px;
}
.post_text02 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #1D354F;
    line-height: 40px;
    margin-top: 50px;
}

.post_text02 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #1D354F;
    line-height: 28px;
}
.post_text02 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
}
.post_text02 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
}
.post_one{
    position: relative;
}
.post_one::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #29313D;
}
.post_text03 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #1D354F;
    line-height: 28px;
    margin-top: 20px;
}
.post_img03 img{
    width: 100%;
    margin-top: 20px;
}
.post_img04 img{
    width: 100%;
}
.posr_two{
    height: 50px;
    width: 150px;
    background-color: #8454F5;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.posr_two a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 50px;
}
/*  post part end */
/* your part start */
#your{
    padding: 120px 0;
    background-color: #8454F5;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}
.your_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    line-height: 60px;
    
}
.your_item{
    height: 50px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.your_item h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8454F5;
    line-height: 50px;
}
/* your part end */
/* footer part start */
#footer{
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #fff;
}

.footer_logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    margin-top: 50px;
}
.footer_menu h3{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
    margin-left: 30px;
}
.footer_menu ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: black;
}
.footer_menu01 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
    margin-left: 30px;
}
.footer_menu01 ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: black;
}
.footer_menu02 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
    margin-left: 30px;
}
.footer_menu02 ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: black;
    
}
.footer_one h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    margin-top: 30px;
}
.footer_two {
    display: flex;
    justify-content: space-between;
}
.footer_two h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    margin-top: 30px;
}
.footer_two p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    margin-top: 30px;
}
.footer_menu02 ul li ul{
    display: block;
    margin: 0;
    visibility: hidden;
}
.footer_menu02 ul li:hover > ul{
    visibility: visible;
}
/* footer part end */