*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.menu_bg{
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: #7258F7;
}

.menu_bg ul li{
    padding: 0 10px;
    align-items: end;
}
.menu_bg ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black !important;
     
}
.navbar-expand-lg .navbar-nav {
    
	flex-direction: row;
	margin-left: 235px;
}
.menu_bg .one{
    height: 50px;
    width: 150px;
    border:  2px solid solid #fff !important;
    border-radius: 20px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover{
    background-color: #FF5538;
}
.menu_bg .one a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FF5538;
    line-height: 50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg .one:hover a{
    color: #fff;
}
/* banner part start */
#banner{
    padding-top: 220px;
    padding-bottom: 80px;
    background-color: #fff;
    
}
.banner_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
   
}
.banner_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
    
}

.banner_item ul li{
    display: inline-block;
}
.banner_item ul li {
   padding: 0 50px;
   height: 60px;
   width: 200px;
   margin-top: 30px;
   margin-left: 20px;
   border: 2px solid #7258F7;
   font-family: 'Poppins', sans-serif;
   background-color: #7258F7;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
}
.banner_item ul li:hover{
    background-color: #fff;
}
.banner_item ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: black;
}
.banner_img img{
    width: 100%;
}
/* banner part end */
/* help part start */
#help{
    padding: 120px 0;
    background-color: #fff;
}
.help_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
}
.help_item img{
    margin-top: 100px;
}
.help_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #29313D;
    line-height: 40px;
    margin-top: 50px;
}
.help_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
   
}

/* help part end */
/* what part start */
#what{
    padding: 120px 0;
    background-color: #fff;
}
.what_img img{
    width: 100%;
}
.what_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
    margin-top: 30px;
}
.what_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
    
}

.accordion-body h3{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color:#29313D;
    
}
.accordion-item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 38px;
    color:#29313D;
}
/* what part end */
/* team part start */
#team{
    padding: 120px 0;
    background-color: #fff;
}
.team_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
    text-align: center;
}
.team_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #29313D;
    line-height: 28px;
    text-align: center;
    margin-top: 30px;
}
.team_text i{
    color: #8454F5;
    margin-left: 10px;
    margin-right: 10px;
    
}
.team_item{
    padding: 30px 0;
    width: 100%;
    border: 2px solid #221A2C;
   margin-top: 50px;
    text-align: center;
}
.team_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 500;
    color: #29313D;
    line-height: 28px;
}
.team_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
    margin-top: 20px;
}
.team_item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 28px;
    margin-top: 20px;
}
.team_item h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
    margin-top: 20px;
}
.team_item01 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
    margin-top: 30px;
    text-align: center;
}
.team_one{
    height: 40px;
    width: 130px;
    border: 2px solid #7258F7;
    text-align: center;
    margin-top: 60px;
    margin-left: 56px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_one:hover{
    background-color: #7258F7;
}
.team_one a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7258F7;
    line-height: 35px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.team_one:hover a{
    color: #fff;
}
/* team part end  */
/* work part start */
#work{
    padding: 120px 0;
    background-color: #fff;
}
.work_item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
}
.work_item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
}
.work_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #29313D;
    line-height: 28px;
}
.work_item img{
    width: 100%;
    margin-top: 100px;
}
.work_item{
    position: relative;
}
.work_item::after{
    position: absolute;
    content: '';
    height: 100px;
    width: 200px;
    right: 0;
    top: 0;
    background-color: #E2DDFB;
    margin-top: 730px;
   
}
.work_img img{
    width: 100%;
    margin-top: 100px;
}
.work_img{
    position: relative;
}
.work_img::after{
    position: absolute;
    content: '';
    height: 100px;
    width: 200px;
    right: 0;
    top: 80px;
    background-color: #FEF8E4;
    
}
.work_img01 img{
    width: 100%;
    
}
.work_img01{
    position: relative;
}
.work_img01::after{
    position: absolute;
    content: '';
    height: 100px;
    width: 200px;
    right: 0;
    top: 560px;
    background-color: #E2DDFB;
    
}
/* work part end */
/* about part start */
#about{
    padding: 120px;
    background-color: #fff;
}
.about_text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    color: #29313D;
    line-height: 60px;
    text-align: center;
}
.about_item h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #29313D;
	line-height: 40px;
	margin-top: -40px;
	margin-left: 83px;
}
.about_item h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #29313D;
	line-height: 28px;
	margin-left: 83px;
}
.about_item p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #29313D;
	line-height: 28px;
	margin-top: 30px;
    text-align: center;
}
/* about part end */
#footer{
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #19153D;
}

.footer_logo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 50px;
}
.footer_icon i{
    
    height: 25px;
    width: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.footer_menu h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
   
}
.footer_menu ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: #fff;
    margin-left: -30px;
}
.footer_menu01 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    
}
.footer_menu01 ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: #fff;
    margin-left: -30px;
}
.footer_menu02 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    
}
.footer_menu03 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    
}
.footer_menu03 p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    
   
    color: #fff;
}


.footer_menu02 ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    padding-top: 10px;
    color: #fff;
    margin-left: -30px;
}
.footer_one h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 30px;
}
.footer_two {
    display: flex;
    justify-content: space-between;
}
.footer_two h4{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 30px;
}
.footer_two p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    margin-top: 30px;
}
/* footer part end */